header.base {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

article.main-title {
    display: flex;
    align-items: center;
    gap: 20px;
}

article.main-title img {
    width: 70px;
    object-fit: contain;
}

article.main-title h1 {
    font-weight: 600;
    font-size: 40px;
    color: white;
}

header.base aside button {
    border: none;
    background: none;

    font-size: 14px;
    font-weight: 600;
}