.div-align-buttons-profile {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.btn-profile {
    box-sizing: border-box;
    width: 217px;
    height: 63px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    outline-offset: 4px;
    cursor: pointer;
}

.button-logout-profile {
    background: #F14436;
    border: 1px solid #000000;
    outline: #000000 solid 1px;
}

.button-edit-profile {
    background: white;
    border: 1px solid #1582F6;
    outline: #1582F6 solid 1px;
}


.btn-profile img{
    align-self: center;
}

.btn-profile span {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    align-self: center;
    margin: 0;
    padding: 0;
}