.EditProfile {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 600px;
}

.div-align-fields-edit-profile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;
}