h1.error {
    padding: 10px 30px;
    border: 1px solid #FF0000;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ac0d0d8e;
    color: white;
}

h1.error button {
    border: none;
    padding: 6px 15px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.1);
    background: white;
    cursor: pointer;
}

h1.error button:hover {
    background: rgb(212, 209, 209);
}