:root {
    --submit-bg: #d1352a;
    --submit-hover-bg: #BF2619;
}

main.mine-research-container {
    display: flex;
    flex-direction: column;

    gap: 15px;

    padding: 30px 50px 80px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.05);
    border-radius: 4px 4px 0px 0px;
    min-height: 100vh;
}

main.mine-research-container * {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
}

article.event-main-area article.title-research {
    display: grid;
    gap: 5px;
}

article.event-main-area article.title-research h1 {
    font-weight: 700;
    font-size: 32px;
    color: black;
}

form.on-going div.actions {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 10px;
    margin-bottom: 10px;
}

form.on-going div.actions button {
    border: none;
    background: black;
    font-weight: 700;
    font-size: 14px;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

form.on-going div.actions button:hover {
    opacity: 0.8;
}

form.on-going button.cancel-ic {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;

    border: none;
    padding: 10px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    background: rgba(0, 0, 0, 0.466);
    cursor: pointer;
    border-radius: 4px;
}

form.on-going button.cancel-ic img {
    width: 20px;
    height: 20px;
}

form.on-going button.cancel-ic.to-open {
    background: rgb(117, 150, 26);
}

form.on-going button.cancel-ic:hover {
    box-shadow: 0 1px 4px 4px rgba(0, 0, 0, 0.1);
}

form.on-going div.actions button.edit {
    border: none;
    background: var(--submit-bg);
    font-weight: 700;
    font-size: 14px;
    color: white;
    padding: 10px 40px;
    border-radius: 4px;
    cursor: pointer;
}

form.on-going div.actions button.edit:hover {
    background: var(--submit-hover-bg);
}

section.mine-reseach-body {
    width: 100%;
    display: grid;
    gap: 70px;
    grid-template-columns: 70% 26%;
}

section.mine-reseach-body article {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

section.mine-reseach-body aside form.on-going {
    display: flex;
    gap: 40px;
    flex-direction: column;
}

section.mine-reseach-body aside div.assign-users {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

section.mine-reseach-body aside div.form-column {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

section.mine-reseach-body aside :is(div.base-input.select, div.base-input.select select) {
    width: 100%;
}

div.details-reseach {
    display: flex;
    gap: 10px;
    align-items: center;
}

div.details-reseach p {
    font-weight: 600;
    font-size: 16px;
}

span.status-indicator {
    background: #A81F1F;
    border: 1px solid #791212;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: fit-content;

    padding: 5px 30px;
    font-weight: 700;
    font-size: 14px;
    color: white;
}