.div-input-text {
    width: 100%;
    padding: 10px;
    gap: 10px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    background: #FFFFFF;
    border: 1px solid #DAE7F7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    transition: all 200ms ease-in-out;
}

.div-input-text:focus-within {
    border-color: #205797;
}

.div-input-text img {
    width: 30px;
}

.input-text {
    width: 90%;
    background: none;
    border: none;
    outline: none;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
}
